:root {
	--primary: #B39169;
	--secondary: #AC8B65;
	--tertiary: #69B391;
	--quaternary: #9169B3;
	--monochromatic: #9B784E;
	--brand: #1A5E63;
	--darkened-brand: color-mix(in srgb, #1A5E63 100%, #000 100%);
	--base: rgb(219, 223, 230);
	--grey: hsl(184, 10%, 25%);
	--light-grey: hsl(184, 10%, 55%);
}

::-webkit-scrollbar {
	width: 6.4px;
	height: 6.4px;
}

::-webkit-scrollbar-track {
	background-color: var(--base);
}

::-webkit-scrollbar-track-piece:start {
	margin-top: 5px; 
}
::-webkit-scrollbar-track-piece:end {
	margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--secondary);
	border-radius: 10px;
}

html,
body {
	margin: 0;
	background-color: var(--base);
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	margin-right: 4px;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	font-weight: 400;
	overflow-y: auto;
}

a {
	text-decoration: none;
	color: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

iframe #header {
	display: none
}

* {
	transition: color 300ms ease,
			  background-color 300ms ease;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

*::selection {
	background-color: rgb(from var(--quaternary) r g b / 0.6);
	border-radius: 15px;
	color: white;
}

input {
	border-color: unset;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ltr {
	direction: ltr !important;
}

.rtl {
	direction: rtl !important;
}

.flex-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
}

.flex {
	display: flex;
}

.flex-cmn {
	display: flex;
	flex-direction: column
}

.flex-cmn-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.flex-centre {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-cmn-centre {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.justify-start {
	display: flex;
	justify-content: flex-start;
}

.justify-center {
	display: flex;
	justify-content: center;
}

.space-around {
	display: flex;
	justify-content: space-around;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.justify-end {
	display: flex;
	justify-content: flex-end;
}

.align-start {
	display: flex;
	align-items: flex-start;
}

.align-center {
	display: flex;
	align-items: center;
}

.align-end {
	display: flex;
	align-items: flex-end;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

*[tabIndex]:focus:not(:focus-visible) {
	outline: none;
}

.snippet {
	font-family: monospace;
	font-size: 13.6px;
	color: #ce9178;
}

.codeblock-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 72%;
	margin: 0 auto;
}

.codeblock {
	background-color: #1f1f1f !important;
	border-radius: 15px;
	border-top-right-radius: 0;
	font-family: monospace !important;
	font-size: 12px;
	padding: 6.4px;
	width: 100%;
	text-wrap: auto;
}

.codeblock span, .codeblock * {
	text-wrap: auto;
}

.string-code {
	color: #ce9178;
}

.non-str {
	white-space: pre;
	text-align: left;
	tab-size: 4;
}

.copy-to-clip {
	font-family: "Inter", sans-serif;
	font-weight: bolder;
	background-color: var(--brand);
	border: none;
	padding: 8px;
	border-radius: 0px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
	transition: all ease 200ms;
	color: white;
}

.copy-to-clip:hover {
	background-color: var(--secondary);
}

.btn-standard:hover:not(:disabled) {
	opacity: 0.7
}

.homepage-text {
	font-size: 60px;
	text-align: center;
	color: var(--grey)
}

.homepage-text.subtitle {
	font-size: 24px;
}

.homepage-text.footnote {
	font-size: 16px;
}

ul.feature-list {
	list-style: none;
	padding: 0;
	background-color: rgb(from var(--light-grey) r g b / 0.3);
	width: 80%;
	margin: 0;
}

ul.feature-list li {
	padding: 12px;
	font-family: "Inclusive Sans", sans-serif;
	border-top: var(--grey) 1px solid;
	margin: 0;
}

@media (min-width: 1000px) {
	.no-desktop {
		display: none !important;
	}
}

@media (max-width: 1000px) and (min-width: 780px) {
	.no-tablet {
		display: none !important;
	}
}

@media (max-width: 780px) {
	.no-mobile {
		display: none !important;
	}
}